:root{
  --queen-blue:#416788;
  --shadow-blue:#7389AE;
  --cadet-blue:#B5BAD0;
  --gray:#E0E0E2;
  --white:rgb(241, 241, 241);

  --border-radius:0.5rem
}

.main{
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}
.section{
  padding: 0.5rem 0;
}
/*Navbar */
nav{
  display: flex;
  padding: 0.5rem 1rem;
  background: var(--queen-blue);
  color: var(--white);
}
nav a{
  margin-left: 0.5rem;
}
.logo{
  
}
.links{
  font-weight: bold;
  margin-left: auto;
}
/*Navbar ends*/

/*hero*/
.hero{
  width: 100%;
  text-align: center;
}
.hero img{
  width: 100%;
  height: 75vh;
}
.hero h3{
  height: 25vh;
}
/*hero Ends*/

/*About*/
.about {
  text-align: justify; 
}
/*About Ends*/
/*Services*/
.card{
  width: 100%;
  display: flex;
  justify-content: center;
  padding:0 ;
  border: 1px solid var(--cadet-blue);
  margin: 0.5rem 0;
  border-radius: var(--border-radius);
  background: white;
}

.card .img-container{
  padding: 0;
  width: 50%;
}

.card img{
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  height: 100%;
  width: 100%;
}
.card div{
  border-radius: 0  0.5rem  0.5rem 0;
  padding: 1rem;
  width: 50%;
}

/*Services ends*/

/*Contact*/
.contact-form{
  display: flex;
  flex-direction: column;
}

input, textarea{
  margin: 0.5rem 0 ;
  border: none;
  outline: none;
  line-height: 115%;
  padding:0.5rem;
  font-size: 14px;
  border-radius: var(--border-radius);
  /* resize: none; */
}
button{
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--queen-blue);
  color: var(--white);
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--cadet-blue);
}

@media screen and (max-width:450px) {
  .card{
    flex-direction: column;
    align-items: center;
  }

  .card .img-container{
    width: 100%;
  }
  .card img{
  border-radius: var(--border-radius)  var(--border-radius) 0 0;

  }
  .card div{
    width: 100%;
  }
  
}

/*Contact ends*/