@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #333;
  background-color: #efefef;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
/*global styles*/
a {
  text-decoration: none;
  color: inherit;
}
